<a href="https://colab.research.google.com/github/sharanbalu/mongotask3/blob/main/CRUD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# imported the required librery's 

!pip install dnspython
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: dnspython in /usr/local/lib/python3.7/dist-packages (2.2.1)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.3.2)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from pymongo[srv]) (2.2.1)

In [ ]:
# imported the mongo for python
import pymongo

In [ ]:
from pymongo import MongoClient

client = pymongo.MongoClient("mongodb+srv://SHARAN:9902279508@cluster0.lni3ht1.mongodb.net/?retryWrites=true&w=majority")
db = client.teli

db = client.telephone     # created database in the name of telephone

record= db.CRUD           # created collection

In [ ]:
# creating the directory & inserting into the collection

db.CRUD.insert_many([{
    'name': "Sharan",
    'phone_number': "99022",
    'place': "Bangalore",
    'DOB': "01/06/1998",
    'birth_place': 'raichur'},
    
    {'name':'Priya',
     'phone_number':'992844',
     'place':'bgk',
     'DOB':'01/08/2000'
    },
    
    {'name':'balaji',
     'phone_number':'943252',
     'place':'tirupati',
     'DOB':'21/03/1997',
     },
     
     {'name':'lalu',
      'phone_number':'8959',
      'palce':'manadapalle',
      'DOB':'01/5/1998'}])

In [ ]:
'''db.collection.find()
db.collection.find_one()
find()'''

# Retrieving the Data from Collection

record.CRUD.find({})

In [ ]:
db.CRUD.find_one({'name':'balaji'}) # Retrieving the data of the mentioned

{'_id': ObjectId('6367bb42bdcb5848fb44a15c'),
 'name': 'balaji',
 'phone_number': '943252',
 'place': 'tirupati',
 'DOB': '21/03/1997'}

In [ ]:
#Upadating the collection with the some random information

#update_one()     is the query...

record.CRUD.update_one({'name':'lalu',
      'phone_number':'8959',
      'palce':'manadapalle',
      'DOB':'01/5/1998'}, {"$set":{'name':'Raj',
                         'phone_number':'657575',
                         'place':'hhh',
                         'DOB':'99/99/00'}}, upsert=True)

#update_many()     for many...

In [ ]:
# deleting the data

#delete_one()  is the syntax for to delet the data
#delete_many()  is to delete the many data

record.CRUD.delete_one({'name':"balaji"})